node_modules/
*.log
dist/

# IDEs and editor 
.idea 
.vscode 
*.suo 
*.ntvs* 
*.njsproj 
*.sln 
*.sw 

# OS 
.DS_Store 

# Others 
npm-debug.log* 
yarn-debug.log* 
yarn-error.log* 

gh/.config/gh/hosts.yml
